* {
	margin: 0px;
	padding: 0px;
}


body {
	font-family: "Montserrat", sans-serif;
	color: #111111;
	background-color: #ffffff;
}

#header {
	padding: 20px;
	text-align: left;
	background-color: #e1e6f5;
	color: #111111;
	font-size: 72px;
}

.navbar {
	padding-top: 20px;
	margin-left: 0px;
	height: 130px;
	background-color: #0a0b4d;
	text-align: center;
	width: 100%;
}

.navbar li {
	float: left;
	list-style: none;
	position: relative;
	padding: 8px 20px;
	text-align: center;
	min-width: 100px;
}

.navbar li a {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	line-height: 55px;
	color: #fff;
	display: block;
	overflow: hidden;
	text-decoration: none;
	margin: 0px;
	text-align: center;
}


.sub-items {
	position: absolute;
	background-color: #0a0b4d;
	display: block;
	padding: 8px 20px;
	border-radius: 10px;
	
}
.navbar li:hover .sub-items {
	position: absolute;
	background-color: #ea5267;
	z-index: 1;
    white-space: nowrap;
	
}

.sub-items li a {
	display: none;
	color: #fff;
	background-color: #0a0b4d;
	z-index: -1;
	padding: 0px;
	margin: 0px;
	
}

.navbar li:hover .sub-items li a {
	display: block;
	background-color: #ea5267;
    width: 100%;
	z-index: -1;
	height: 100%;
	
}

.sub-items {
	
 
	color: #ea5267;
}

.navbar li:hover .sub-items {
	
	color: #ffffff;
}

.navbar li a:hover {
	color: #ea5267;
	opacity: 1;
}

/* Controls how text reacts when the cursor hovers above a list item anchor */
.sub-items li a:hover {
	background-color: #ea5267;
	opacity: 1;
	color: #ffffff;
	display: block;
	z-index: -1;
}

/* up class is used multiple times in the html page to capitalize all letters of any text in the class */


h1, h2, h3, h4, h5, h6 {
	color: #0a0b4d;
	font-family: "Montserrat", sans-serif;
	padding-left: 100px;
	margin: 5px;
}

h2 {
	font-size: 40px;
	line-height: 28px;
	color: #0a0b4d;
	font-weight: 600;
	line-height: 1.222;
}

h3 {
  font-size: 30px;
  line-height: 30px;
}

p {
	font-size: 22px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 10px;
}

.cv li {
	margin-left: 20%;
	font-size: 25px;
}

#table {
	margin-left: 25%;
	margin-bottom: 20px;
}

#table td {
	padding-left: 20px;
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #0a0b4d;
	color: #ea5267;
}

.footer h3{
	color: white;
	padding-left: 295px
}

.footer p {
		padding-left: 200px
}
.footer a {
	text-decoration: none;
	color: white;
}

#gap {
	width: 100%;
	height: 80px;
	
}